@model SEA_Application.Models.AspNetClass

@{
    ViewBag.Title = "Create";
}
<style>
    input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
   
    margin-left: 0px;
}
    .color:hover{
        background-color:#0e72af !important;
    }
    #return:hover{
        background-color:#e9271f !important;
        color:#ffffff !important;
    }
</style>
<script>
    $(document).ready(function () {

    })
    function concate()
    {
        debugger;
        var name=$("#name").val();
        var section = $("#SectionId").val();
     
        $.ajax({
            type: "POST",
            url: "/AspNetClasses/GetSectionName",
            data: { section: section },
            success: function (data) {
                var xxx = name +" "+ data;
                $("#CName").val(xxx);
            }
        });
      

    }
</script>
<h2>Add Class</h2>
<div class="box box-primary">
    <div class="box-body">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "Registerform" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Class</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <span class="col-md-2">Name</span>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @id = "name", @required="required" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

            

                <div class="form-group">
                    <span class="col-md-2">Next Class</span>
                    <div class="col-md-6">
                        @Html.DropDownList("NextClassId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.NextClassId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <span class="col-md-2">Is Active</span>
                    <div class="col-md-6">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.IsActive)
                            @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>




            </div>
        }
   
        <div class="col-md-offset-2 col-md-5">
            <br />
            <button class="col-md-2 form-control" id="return" onclick="window.location.href = '/AspNetClasses/Index'" style="border-radius:45px;margin-right:10px;border-color:#e9271f;color:#e9271f;height:38px;width:98px; font-size:13px;background-color:#ffffff"><i class="fa fa-arrow-left"></i> Return</button>
            <input class="col-md-2 form-control color" id="submit" form="Registerform" type="submit" value="Save" style="border-radius:35px;color:white;border:hidden;background-color:#128edb;font-size:13px;width:98px;height:38px;font-family:Montserrat" />
            <br />
            <br /><br />
        </div>

    </div>
</div>
