@model SEA_Application.Models.AspNetCours

<script>
    $(document).ready(function () {

        $("#SessionName").prop('required', true);
        $("#Status").prop('required', true);
        $("#SessionStartDate").prop('required', true);
        $("#SessionStartDate").prop('type', 'date');
        $("#SessionEndDate").prop('required', true);
        $("#SessionEndDate").prop('type', 'date');


        //$("#SessionStartDate").datepicker({
        //    dateFormat: 'dd/mm/yy',
        //    changeMonth: true,
        //    changeYear: true,
        //    duration: "slow",
        //    yearRange: '1960:2030'
        //});

        //$("#SessionEndDate").datepicker({
        //    dateFormat: 'dd/mm/yy',
        //    changeMonth: true,
        //    changeYear: true,
        //    duration: "slow",
        //    yearRange: '1960:2030'
        //});

        $('#cancel').click(function () {
            window.location.href = '@Url.Action("Dashboard", "Account")';
        });
    });

    function isempty(item) {
        var start = $("#SessionStartDate").val();
        var end = $("#SessionEndDate").val();

        if (start == "" && end == "") {
            $(item).prop('placeholder', "Please add the date");
            $('#submit').prop('disabled', true);
        } else {
            $('#submit').prop('disabled', false);
        }
    }


    function onCancel() {
        $('#cancel').click();
    }
    function onSave() {
        alert("Did you listen to me?")
        $('#FormSubmit').click();
    }

</script>
<h4 class="orange">Add Student</h4>
<div class="row" style="padding-bottom: 10px; padding-top: 10px; padding-left: 20px; padding-right: 20px;">
    <button class="btn btn-danger pull-left btn-sm" onclick="onCancel()">
        Cancel
    </button>
    <button class="pull-right" style="background-color: transparent; border: none; outline: none; font-size: 20px; color: rgb(89, 89, 89) !important" onclick="onSave()">
        <i class="fa fa-floppy-o"></i>
    </button>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="box box-primary">
        <div class="box-title"></div>
        <hr />
        <div class="box-body">
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, new { @class = "col-md-2 control-label" })<span class="red-mark">*</span>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DepartmentId, new { @class = "col-md-2 control-label" })<span class="red-mark">*</span>
                    <div class="col-md-6">
                        @Html.DropDownListFor(model => model.DepartmentId, (IEnumerable<SelectListItem>)ViewBag.Departments, new { @class = "form-control", required = "required" })
                        @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*<div class="form-group">
                    @Html.Label("Classes", new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.ListBox("Classes", null, new { @class = "form-control" })
                        @Html.ValidationMessage("Classes", new { @class = "text-danger" })
                    </div>
                </div>*@

                @*<div class="form-group" id="CourseMandatory" style="visibility:hidden">
                    @Html.LabelFor(model => model.IsMandatory, htmlAttributes: new { @class = "control-label col-md-2" })<span class="red-mark">*</span>
                    <div class="col-md-6">
                        <div class="checkbox">
                            <label class="checkbox">@Html.EditorFor(model => model.IsMandatory)</label>
                            @Html.ValidationMessageFor(model => model.IsMandatory, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>*@

                <div class="form-group">
                    <div class="col-md-6 col-md-offset-2">
                        <input id="FormSubmit" type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>

            </div>
        </div>
    </div>
}

<script>
    $(':input[name = "Classes"]').change(function () {
        if (!$(this).val()) {
            $('#CourseMandatory').css('visibility', 'hidden');
        } else {
            $('#CourseMandatory').css('visibility', 'visible');
        }
    });
</script>
