
@{
    ViewBag.Title = "QuizDetails";
    if (User.IsInRole("Sstudent"))
    {
        Layout = "~/Views/Shared/_StudentDashboardLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_TeacherDashboardLayout.cshtml";
    }

}


<style>
    .upload-photo {
        background-color: #fff !important;
        min-height: 191.667px;
        max-height: 100%;
        width: 246px;
        border-color: #fff !important;
    }


    .radiocontainer.correct.selected {
        background-color: #d4edda;
        padding: 9px;
    }

    .radiocontainer.wrong.selected {
        background-color: #f8d7da;
        padding: 9px;
    }

    h4, .h4 {
        font-size: 1.125rem;
        line-height: 2.4em;
        font-weight: 300;
    }

    .radiocontainer.wrong {
        background-color: #f8d7da;
    }

</style>

<script>

    $(document).ready(function () {


        var QuizTime = $("#QuizTime").val();
        $("#BreadCrumbs").append(' <li><a href="#"> Home </a> <span>&gt;</span></li>');
        $("#BreadCrumbs").append(' <li class="active"><a id="BreadCrumps1" href="#">My Quizz</a></li>');

     
    });

</script>


@{
    int counter = 1;
    bool flag = true;
}
<div class="row">
    <div class="col-md-12">
        <div class="pageHeading">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-7">


                    <h1 class=""> Quizz Details</h1>
                    <input id="QuizTime" type="hidden" value="@ViewBag.QuizTime" />

                </div>
            

            </div>
        </div>
        <div class="card">
            <div class="card-body p-5">

                <h3 class="tabMainHeading mb-3">@ViewBag.QuizName</h3>
                <h5 class="tabMainHeading mb-3">@ViewBag.QuizDescription</h5>
                <input id="QuizId" class="hidden" type="text" value="@ViewBag.QuizId" />


                <div class="questionCon">
                    @foreach (var item in ViewBag.questionList_MCQS)
                    {
                        <h4 class="tabHeading">
                            @counter: @item.name

                            @if (item.selectedOption == null)
                            {
                                <i class="fa fa-times" aria-hidden="true" style="color: red; font-size:20px"></i>
                                <span>(Not Attempted/Incorerct)</span>
                            }

                        </h4>

                        <input id="@item.id" class="Option" type="hidden" value="" />


                        if (item.Photo != null)
                        {
                            <div style="height: 120px;" class="upload-photo border rounded d-flex align-items-center justify-content-center flex-column mb-4">
                                <a href="#">
                                    <img id="imgPreview" style="width: 150px; height: 150px" src="~/Content/QuestionPhotos/@item.Photo" />
                                </a>
                                <input style="display:none;" id="UploadImg" type="file" name="image" />
                                <div id="UploadPhotoDiv" class="mt-3"></div>
                            </div>
                        }

                        <ol>
                            @foreach (var item1 in item.options)
                            {
                                if (item1.name == item.CorrectOption)
                                {
                                    <li>@item1.name  <i class="fa fa-check" aria-hidden="true" style="color: #37a937; font-size:20px"></i></li>

                                }
                                else
                                {
                                    if (item1.name == item.selectedOption)
                                    {
                                        <li>@item1.name  <i class="fa fa-times" aria-hidden="true" style="color: red; font-size:20px"></i>(Incorrect Answer Selected) </li>
                                    }
                                    else
                                    {
                                        <li>@item1.name  </li>

                                    }

                                }
                            }
                        </ol>
                        <ol>
                            @if (item.selectedOption == null)
                            {
                                <div class="radiocontainer wrong selected" id="label2" style="padding-right:135px;"><div class="markcontainer"></div>&nbsp;&nbsp;<span class="answercomment">&nbsp;&nbsp;<i class="fa fa-times" aria-hidden="true" style="color: red; font-size:20px"></i> Not Attempted, Correct Answer is (@item.CorrectOption) &nbsp;&nbsp;</span></div>

                            }
                            @foreach (var item1 in item.options)
                            {

                                if (item.selectedOption != null)
                                {


                                    if (item1.name == item.CorrectOption)
                                    {

                                        <div class="radiocontainer correct selected" id="label2" style="padding-right:135px;"><div class="markcontainer"></div>&nbsp;&nbsp;<span class="answercomment">&nbsp;&nbsp;<i class="fa fa-check" aria-hidden="true" style="color: #37a937; font-size:20px"></i> Correct Answer (@item.CorrectOption)&nbsp;&nbsp;</span></div>



                                        break;
                                    }
                                    else if (item1.name == item.selectedOption)
                                    {
                                        <div class="radiocontainer wrong selected" id="label2" style="padding-right:135px;"><div class="markcontainer"></div>&nbsp;&nbsp;<span class="answercomment">&nbsp;&nbsp;<i class="fa fa-times" aria-hidden="true" style="color: red; font-size:20px"></i> Incorrect Answer, Correct Answer is (@item.CorrectOption)&nbsp;&nbsp;</span></div>

                                        break;
                                    }


                                }
                            }
                        </ol>

                        counter = counter + 1;
                        flag = true;


                    }


                </div>


            </div>
        </div>

    </div>

</div>




