@model SEA_Application.Models.AspNetAnnouncement

@{
    ViewBag.Title = "Create";
}
<script type="text/javascript">
                    $(document).ready(function () {

                        $("#ClassID").change(function () {
                            var selectedClass = $("#ClassID").val();
                            $.ajax({
                                url: '@Url.Action("SubjectsByClass")',
                                type: 'GET',
                                dataType: 'json',
                                cache: false,
                                traditional: true,
                                data: { id: selectedClass },

                            }).done(function (response) {
                                $('#subjects').html('');
                                debugger;
                                $.each(response, function (i, item) {
                                    debugger;
                                    var classname = $("#ClassID option[value='" + item.ClassID + "']").text()
                                    $('#subjects').append('<option value=' + item.CourseId + '>' + item.Name + ' (' + classname + ')</option>');
                                });
                            })


                        });
                    });
</script>
<h2>Create</h2>
<div class="box box-primary">
    <div class="box-body">


        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "Registerform" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Description,10,102, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-1 col-lg-1"> Choose Class:</label>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-5">
                                <label class="control-label col-md-2">Class:</label>
                            </div>
                            <div class="col-md-5">
                                <label class="control-label col-md-2">Subjects:</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                @Html.ListBox("ClassID", null, htmlAttributes: new { @class = "form-control",name="ClassId" })
                            </div>
                            <div class="col-md-5">
                                <select multiple class="form-control" id="subjects" name="subjects"></select>
                            </div>
                        </div>
                    </div>
                </div>

    
            </div>
        }
        <div class="form-group">
            <div class="col-md-10 col-md-offset-2 col-sm-10 col-lg-10">
                <hr />

                <button class="col-md-2 form-control" onclick="window.location.href='/AspNetAnnouncements/AnnouncementIndex'" style="border-radius:35px;border:hidden;margin-right:10px;background-color:#ff0000;color:#ffffff;font-size:11px;width:98px;height:38px;font-family:Montserrat" id="return"><i class="fa fa-arrow-left"></i> &nbsp;&nbsp; Return</button>

                <input class="col-md-2 form-control" id="submit" type="submit" form="Registerform" value="Save" style="border-radius:35px;color:white;border:hidden;background-color:#128edb;font-size:11px;width:98px;height:38px;font-family:Montserrat" />

                <br /><br /><br />
            </div>

        </div>
    </div>
</div>

