@model  IEnumerable<SEA_Application.Controllers.StudentFeeMonthsController.Error>

@{
    ViewBag.Title = "StudentFeeMonths";
    Layout = "~/Views/Shared/_AccountantDashboardLayout.cshtml";
}




<div class="tab-pane active" id="tab_1">
    <div class="card">
        <div class="card-body p-4">


            <div class="box box-primary">
                <div class="box-header with-border">
                    <div class="box-body">
                        <div class="box-header with-border"><h3 class="orange">Upload Excel File &nbsp; <i class="fa fa-file-excel-o" aria-hidden="true"></i></h3></div>
                        <div class="form-three widget-shadow">
                            @using (Html.BeginForm("MonthlyFeeFromFile", "StudentFeeMonths", FormMethod.Post, new { enctype = "multipart/form-data", @id = "RegisterForm" }))
                            {

                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <input id="StudentLoaderFile" required="required" name="StudentLoaderFile" type="file" />
                                @*<div class="form-group">
                                        <div class="control-label col-md-3"><b>Excel File</b></div>
                                        <div class="col-md-4">
                                            <input id="teachers" required="required" name="Branch_Class" type="file" />
                                        </div>
                                    </div>*@
                                <br />
                                <br />
                            }

                        <div>
                            @if (Model != null)
                            {

                                foreach (var item in Model)
                                {
                                    <br>
                                    <span style="color:orange">@item.ErrorRow</span><br>


                                    foreach (var item1 in item.ErrorNamesList)
                                    {

                                        <span style="color:red">@item1.Name</span><br>
                                    }
                                    <hr />

                                }


                            }
                        </div>

                            <span style="color:red"> @ViewBag.Error</span>
                            <br />
                            <div class="col-md-8 pl-5 pr-5 ">
                                <button type="submit" id="submit" form="RegisterForm" value="Save" class="btn btn-primary rounded rounded-lg"> Save </button>

                                <button type="button" id="btnCancel" class="btn btn-primary rounded rounded-lg bg-transparent text-muted shadow-none mr-3">
                                    <i class="material-icons mr-2">cached</i>  Cancel
                                </button>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    $(document).ready(function () {

         $("#PageHeader").html("Monthly Fee Loader");

        $("#BreadCrumbs").append(' <li> <a href="/Account/Dashboard"> Home </a> <span>&gt;</span></li>');
        $("#BreadCrumbs").append(' <li class="active"><a id="BreadCrumps1" href="#">Monthly Fee Loader</a></li>');


    })

</script>