@model IEnumerable<SEA_Application.Models.AspNetLog>
@{
    ViewBag.Title = "Index";
}

<script>
    $(document).ready(function () {
        $("#example").dataTable();
        DrawTable();

        //$('.table').on('click', 'tbody tr', function () {
        //    var td = $(this).children("td");
        //    var userName = $(td[0]).html();
        //    userName = userName.trim();

        //    window.location.href = "/SuperAdmin/SessionDetails?id=" + userName;
        //});
    });

    function DrawTable() {
        $('#example_filter').addClass("form-group");
        $('#example_filter').addClass("has-feedback");
        $('#example_filter input').css({ "border": "1px solid #ddd", "border-radius": "40px", "height": "30px", "margin-top": "-5px", "outline": "none", "padding-left": "10px", "color": "#ddd !important" });
        $('#example_filter').append('<span class="glyphicon glyphicon-search form-control-feedback" style="margin-top: -33px; color: #666;"></span>');
        $('#example_length').append(
            '<div class="form-inline" style="margin-left: 138px !important; margin-top: -25px !important; z-index: -3 !important">'
          +
            '&nbsp;&nbsp;&nbsp;&nbsp;' +
            '<div class="form-group">' +
                 '<div class="d-bar"></div>' +
             '</div>' +
             '&nbsp;&nbsp;&nbsp;&nbsp;' +
                 '<div class="form-group">' +
                     '<div class="edit-section">' +
                         '<a href=""><i class="glyphicon glyphicon-repeat" data-toggle="tooltip" title="Refresh" data-placement="bottom"></i></a>' +
                         '<a class="" href="/SuperAdmin/CreateSession" id="edit-view-3" data-toggle="tooltip" title="Create" data-placement="bottom">&nbsp;' +
                             '<i class="glyphicon glyphicon-edit"></i>' +
                         '</a>' +
                         '<span class="default"><i class="fa fa-ban"></i>&nbsp;&nbsp;</span>' +
                         '<span><i class="glyphicon glyphicon-download-alt"></i></span>'+
                     '</div>' +
                 '</div>' +
             '<div class="form-group">' +
                 '<div class="d-bar"></div>' +
             '</div>' +
         '</div>'
         );

    }
</script>

<h2 class="orange">Logs &nbsp; <i class="fa fa-eye" aria-hidden="true"></i></h2>
@*<div class="row">
        <div class="col-md-12">
            <div class="col-md-2">
                <h2>
                    <a class="btn icon-btn btn-primary" href="~/AspNetSession/Create"><span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-primary"></span>Add Session</a>
                </h2>
            </div>
            <div class="col-md-10"></div>
        </div>
    </div>*@

<h4>Logs</h4>
<label id="View">View Default</label>

@if (ViewBag.Error != null)
{
    <div class="box-alert" id="work">
        @ViewBag.Error
    </div>
}

<div class="box box-primary">
    <div class="box-title"></div>
    <hr />
    <div class="box-body">

        <table class="table" id="example">
            <thead>
                <tr>
                    <th>Sr.</th>
                    <th>
                        User
                    </th>
                    <th>
                        Operation Start
                    </th>
                    <th>
                        Operation End
                    </th>
                    <th>
                        Description
                    </th>
                </tr>
            </thead>
            <tbody>
                @{ int row = 0; }
                @foreach (var item in Model)
            {
                    <tr>
                        <td data-item-id="@item.Id">@(++row)</td>
                        <td>
                            @item.AspNetUser.Email
                        </td>
                        <td>
                            @item.OperationStartTime
                        </td>
                        <td>
                            @item.OperationEndTime
                        </td>
                        <td>
                            @item.Operation
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>